:root{
  --primary-color: #0B5149;
  --secondary-color: #2d3047;
  --terciary-color: #fffd82;
  --quartenary-color: #ff9b71;
  --quintenary-color: #e84855;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  transition: all .5s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

main { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.header {
  position: sticky;
  background: var(--primary-color);
  padding: 16px;
  color: #fff;
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  line-height: 32px;
  letter-spacing: 1.2px;
  font-weight: 200;
}

.challenges__menu {
  height: 300px;

}

.challenges__title{
  color: var(--secondary-color);
}

.challenges__menu--list{
  height: 18.75rem;
  width: 18.75rem;

  margin: 16px;
  padding: 16px;

  border: 1px dashed #c1c1c1;
  border-radius: 10px;

  text-align: center;

  overflow-y: auto;
}

.challenges__menu--item{
  margin: 8px 0;
}

.challenges__menu--item > a:hover {
  letter-spacing: 2px;
}

.header__go-back{
  color: white;
  font-weight: bold;

  background: var(--secondary-color);

  padding: 16px;

  border: none;
  border-radius: 10px;
}

.card__base{
  height: 30rem;
  width: 25rem;

  display: grid;
  grid-template-rows: 2fr 2fr auto;
  gap: 1;

  border: 1px black solid;
  border-radius: 15px;
}

.card__profile--header {
  background: var(--quintenary-color);

  display: grid;
  place-items: center;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card__profile--photo {
  height: 8rem;
  width: 8rem;

  background-image: url('../../assets/images/notion-avatar-1724697935821\ \(1\).png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 50%;
}

.card__profile--info{
  padding: 16px;

  display: grid;
  grid-template-rows: 1fr 1fr;

  text-align: center;
}

.card__profile--actions {
  padding: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card__profile--button-follow {
  padding: 8px 16px;
  
  background-color: var(--primary-color);
  
  border: none;
  border-radius: 20px;
  
  color: white;
  font-weight: bold;
}

.card__profile--button-follow:hover {
  transform: scale(1.2);
  letter-spacing: 1.5px;
}

.card__profile--button-message {
  padding: 8px 16px;
  
  background-color: var(--secondary-color);
  
  border: none;
  border-radius: 20px;
  
  color: white;
  font-weight: bold;
}

.card__profile--button-message:hover {
  transform: scale(1.2);
  letter-spacing: 1.5px;
}